@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 280, 9%, 20%;

    --card: 0 0% 100%;
    --card-foreground: 280, 9%, 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 280, 9%, 20%;

    --primary: 244, 50%, 65%;
    --primary-foreground: 120, 100%, 100%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 244, 50%, 65%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 244, 50%, 65%;

    --destructive: 0, 70%, 61%;
    --destructive-foreground: 120, 100%, 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 280, 9%, 20%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 280, 9%, 20%;
    --foreground: 120, 100%, 100%;

    --card: 280, 9%, 20%;
    --card-foreground: 120, 100%, 100%;

    --popover: 280, 9%, 20%;
    --popover-foreground: 120, 100%, 100%;

    --primary: 120, 100%, 100%;
    --primary-foreground: 244, 50%, 65%;

    --secondary: 244, 50%, 65%;
    --secondary-foreground: 120, 100%, 100%;

    --muted: 244, 50%, 65%;
    --muted-foreground: 148, 30%, 46%;

    --accent: 244, 50%, 65%;
    --accent-foreground: 120, 100%, 100%;

    --destructive: 0, 70%, 61%;
    --destructive-foreground: 120, 100%, 100%;

    --border: 244, 50%, 65%;
    --input: 244, 50%, 65%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-full;
  }
}
